<?xml version="1.0" encoding="utf-8"?>
<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
           package="org.adullact.iparapheur.tab" 
           android:versionCode="1" 
           android:versionName="1.0-SNAPSHOT">
    
    <!-- Android >= 3.x -->
    <uses-sdk  android:targetSdkVersion="11" 
               android:minSdkVersion="11"/>
               
    <!-- Only supports Tablets -->
    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="true"
                      android:xlargeScreens="true" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".IParapheurTabApplication"
                 android:icon="@drawable/icon" 
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.Holo.Light"
                 android:allowClearUserData="false">
        
        <activity android:name=".ui.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.dashboard.DashboardActivity"></activity>
        <activity android:name=".ui.office.OfficeActivity"></activity>
        <activity android:name=".ui.folder.FolderActivity"></activity>
        <activity android:name=".ui.settings.AccountsActivity"
                  android:noHistory="true"
                  android:excludeFromRecents="true">
        </activity>
        
    </application>

</manifest>
