/target/
/.settings/
/.project
/application/target/
/application/bin/
/application/gen/
/application/.settings/
/application/.classpath
/application/.project
/integration-tests/target/
/integration-tests/bin/
/integration-tests/gen/
/integration-tests/.settings/
/integration-tests/.classpath
/integration-tests/.project
/assets-sources/target
