.gradle
/local.properties
/build
*.iml
.DS_Store
IParapheur-android/IParapheur-android-release.apk
IParapheur-android/manifest-merger-release-report.txt
mupdffragment
release-keystore\.properties
release\.keystore

\.idea/libraries/

\.idea/caches/

\.idea/vcs\.xml

\.idea/gradle\.xml

\.idea/workspace\.xml
