<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adullact.iparapheur"
    android:versionCode="22"
    android:versionName="develop">

    <!-- Only supports Tablets -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ItemListActivity" />
        </activity>



        <!--android:name=".controller.IParapheurApplication"-->
        <!--android:allowBackup="true"-->
        <!--android:fullBackupContent="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@style/AppTheme">-->
        <!--<activity-->
            <!--android:name=".controller.MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.Main"-->
            <!--android:windowSoftInputMode="adjustPan">-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="iparapheur" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".controller.preferences.PreferencesActivity"-->
            <!--android:label="@string/Settings"-->
            <!--android:theme="@style/AppTheme.Settings"-->
            <!--android:windowSoftInputMode="adjustResize" />-->

        <!--<activity-->
        <!--android:name="com.artifex.mupdfdemo.MuPDFActivity"-->
        <!--android:label="@string/app_name">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data android:mimeType="application/vnd.ms-xpsdocument" />-->
        <!--<data android:mimeType="application/xps" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data android:mimeType="application/pdf" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data android:mimeType="application/x-cbz" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<data android:mimeType="application/epub+zip" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data android:scheme="file" />-->
        <!--<data android:mimeType="*/*" />-->
        <!--<data android:pathPattern=".*\\.xps" />-->
        <!--<data android:host="*" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data android:scheme="file" />-->
        <!--<data android:mimeType="*/*" />-->
        <!--<data android:pathPattern=".*\\.pdf" />-->
        <!--<data android:host="*" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data android:scheme="file" />-->
        <!--<data android:mimeType="*/*" />-->
        <!--<data android:pathPattern=".*\\.cbz" />-->
        <!--<data android:host="*" />-->
        <!--</intent-filter>-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data android:scheme="file" />-->
        <!--<data android:mimeType="*/*" />-->
        <!--<data android:pathPattern=".*\\.epub" />-->
        <!--<data android:host="*" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="372ad1c3ac173988c7d1af50a81bfa764585744e" />
    </application>

</manifest>
